@import "_reset";
@import './todo.scss';
// @import './movie.scss';
// @import './stock.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');    // Noto Sans KR 100 - 900

* { font-family: 'Noto Sans KR', sans-serif; }

:root {
  --wtcolor: #fff;
  --light: #B3DAFF;
  --main: #55A4FF;
  --dark: #0083FF;
  --txt: #080909;
}

section {
  font-family: 'Noto Sans KR', sans-serif;
}

section:nth-child(odd) {
  margin: 50px 0;
}

// 전체영역 inner
#home-wrap .inner {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

// 섹션 타이틀, 화살표
.list-header {
  display: flex;
  justify-content: space-between;
  color: #494A50;
}



// <!-- 홈 날씨 영역 시작 -->
section#home-weather {
  padding: 20px 25px;
  text-align: left;
  background-color: var(--wtcolor);
  border-radius: 12px;
  color: var(--txt);
  box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);

  outline: 1px solid var(--main);
}


.home-weather-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.home-weather-top i {
  font-size: 70px;
}

.home-weather-content {
  text-align: left;
  padding-left: 35px;
}

.weather-num,.weather-des {
 font-size: 23px;
}

.home-weather-top .current-weather-list {
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
 justify-content: flex-start;
 padding-top: 15px;
 font-size: 14px;
 color: #494A50;
}


.home-weather-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 15px;
}

.home-weather-bottom > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.now-location {
  font-size: 14px;
  color: var(--main);
}

.now-location i {
  font-size: 16px;
  padding-right: 5px;
}

// <!-- 홈 날씨 영역 끝 -->


// <!-- 홈 영화 영역 시작 -->
section#home-movie {

}

.movie-slider {
  width: 100%;

  margin: 0 auto;
  padding-top: 20px;
  overflow-x: auto;
  overflow-y: auto;
} 

.movie-slider::-webkit-scrollbar {
  display: none;
}

ul.movie-container-2 {
  display: flex;
  width: 1280px;
  gap: 15px;
  // outline: 1px solid red;
}

.movie-container-2 > li {
   flex: 0 0 19%;
   position: relative;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   cursor: pointer;
   height: 340px;
   box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);
   -webkit-box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);
   -moz-box-shadow: 3px 2px 14px -9px rgba(0,0,0,0.3);
  //  border: 2px solid var(--light);
}



.movie-container-2 .img-area {
  display: block;
  width: 100%;
  height: 70%;
}


.movie-container-2 .box {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  flex-shrink: 0;
}



.movie-container-2 .box .title {
  font-weight: 600;
}

.movie-container-2 .box button {
  position: relative;
  color: #535252;
  font-size: 14px;
  font-weight: 600;
  // border: 1px solid red;
  z-index: 0;
}

.movie-container-2 .box button::after {
  content: '';
  display: block;
  width: 45px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #b5d5f5ce;
  z-index: -1;
}



.movie-container-2 > li ul.overview {
  position: absolute;
  // transform: translateY(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: opacity ease-in-out .5s;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 20px;
}

.movie-container-2 > li:hover ul.overview {
  opacity: 1;

}


ul.overview .view-title {
  padding-bottom: 15px;
  font-weight: 700;
}


ul.overview .view-des p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
}

ul.overview .view-des a {
  display: inline-block;
  margin-top: 15px;
  padding: 2px 13px;
  border-radius: 9px;
  background-color: var(--main);
  color: #fff;
  font-size: 13px;

}



// <!-- 홈 영화 영역 끝 -->



//  <!-- 홈 주식 영역 시작 -->

.stock_div {
  padding-top: 25px;
  margin: 0 auto;
}

#chart-container{
  position: relative;
  // width: 600px;
  // height: 400px;
}

#base-chart, #overlay-chart {
  position: absolute;
  top: 0;
  left: 0;
}
//  <!-- 홈 주식 영역 끝 -->



//     <!-- 홈 투두 영역 시작 -->

//     <!-- 홈 투두 영역 끝 -->