<div class="inner">

    <!-- API: 리뷰 영화 순위 -->
<section class = list>
    <div class="list-header">
        <h2>영화 리뷰 순위</h2>
        <!-- <a href="" class="btn-more">더보기</a> -->
    </div>
    <div class="movie-slider">
        <ul class="movie-container">
        <!-- 영화 리뷰 순위 리스트 동적추가 -->

        <!-- API: 리뷰 영화 순위 -->
        <section class=list>
            <div class="list-header">
                <h2>영화 리뷰 순위</h2>
            </div>
            <div class="movie-slider">
                <ul class="movie-container">
                    <!-- 영화 리뷰 순위 리스트 동적추가 -->

                </ul>
            </div>
        </section>

        <!-- API: 현재 상영중인 영화 -->
        <section class=list>
            <div class="list-header">
                <h2>현재 상영작</h2>
            </div>
            <div class="movie-slider">
                <ul class="movie-container-2">
                </ul>
            </div>
        </section>

        <!-- 개봉예정영화 -->
        <section class=list>
            <div class="list-header">
                <h2>개봉 예정작</h2>
            </div>
            <div class="movie-slider">
                <ul class="movie-container-3">
                    <!-- 개봉 예정작 리스트 동적추가 -->
                </ul>
            </div>
        </section>
    </div>
</div>

<!-- popup -->
<dialog>
    <div class="movie_images">
        <img src="" alt="movie_poster">
    </div>
    <div class="movie_tit">
        <h3></h3>
        <p class="origin_tit"></p>
    </div>
    <div class="movie_desc"></div>
    <div class="movie_vote">
        <div class="movie_like">
            <i class="fa-solid fa-heart"></i>
            <span></span>
        </div>
        <div class="audience">
            <strong>관객수 : </strong>
            <span></span>명
        </div>
        <div class="grade">
            <strong>평점 : </strong>
            <span></span>
        </div>
    </div>
    <div class="close">
        <i class="fa-solid fa-xmark"></i>
    </div>
</dialog>
</div>
