<label for="search-input" class="search-bar" >
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" id="search-input">
</label>


<nav class="category">
    <button type="button">액션</button>
    <button type="button">코미디</button>
    <button type="button">드라마</button>
    <button type="button">호러</button>
    <button type="button">판타지</button>
    <button type="button">스릴러</button>
    <button type="button">로맨스</button>
    <button type="button">애니메이션</button>
</nav>

<!-- API: 현재 상영중인 영화 조회(인기순) -->
<section class = list>
    <div class="list-header">
        <h2>실시간 영화 순위</h2>
        <a href="" class="btn-more">더보기</a>
    </div>
    <ul class="movie-contaioner">
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
</section>

<!-- API: 현재 상영중인 영화 조회(정렬기준 없음) -->
<section class = list>
    <div class="list-header">
        <h2>현재 상영작</h2>
        <a href="" class="btn-more">더보기</a>
    </div>
    <ul class="movie-contaioner">
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
</section>

<!-- API: 개봉예정영화 -->
<section class = list>
    <div class="list-header">
        <h2>개봉 예정작</h2>
        <a href="" class="btn-more">더보기</a>
    </div>
    <ul class="movie-contaioner">
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <img src="" alt="" class="poster">
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
</section>
