<section class = movielist>
    <div class="list-header">
        <h2>실시간 영화순위</h2>
        <a href="" class="btn-more">더보기</a>
    </div>
    <ul class="movie-contaioner">
        <li>
            <div class="poster"><iframe src=""></iframe></div>
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <div class="poster"><iframe src=""></iframe></div>
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <div class="poster"><iframe src=""></iframe></div>
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <div class="poster"><iframe src=""></iframe></div>
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
        <li>
            <div class="poster"><iframe src=""></iframe></div>
            <ul class="box">
                <li class="title">Title</li>
                <li><button type ="button">자세히 보기</button></li>
            </ul>
        </li>
</section>

