<load src="../components/Header.html" title="날씨헤더영역" />

<div id="weather-wrap">
 <div class="inner">
    <!-- 현재 날씨 영역 시작 -->
    <section class="current-weather">
        <!-- 지역 -->
        <h3 class="city-title">Seoul, Korea</h3>   
        <!-- 날씨 아이콘 -->
        <img src="../../src/images/sun-cloud.png" />


        <!-- 날씨상태 : 맑음, 흐림 etc ** 한글로 들어오면 .weather-des의 주석부분 적용시켜주세욤  -->
        <b class="weather-des">light rain</b>
        <!-- 기온 -->
        <strong class="weather-num">30&deg;</strong>

        <ul class="current-weather-list">
          <!-- 습도 -->
          <li><i class="fa-solid fa-droplet"></i>60&#37;</li>
          <!-- 최대기온 -->
          <li><i class="fa-solid fa-temperature-arrow-up"></i>33&deg;</li>
           <!-- 최저기온 -->
          <li><i class="fa-solid fa-temperature-arrow-down"></i>30&deg;</li>
        </ul>
    </section>
    <!-- 현재 날씨 영역 끝 -->


    <!-- 지역별 날씨 시작 -->
    <section class="region-weather">
      <ul>
        <li>
          <a>
            부산
            <span>28&deg;<i class="fa-solid fa-cloud-bolt"></i></span>
          </a>
        </li>
        <li>
          <a>
            수원
            <span>28&deg;<i class="fa-solid fa-cloud-rain"></i></span>
          </a>
        </li>
        <li>
          <a>
            강릉
            <span>32&deg;<i class="fa-solid fa-sun"></i></span>
          </a>
        </li>
        <li>
          <a>
            광주
            <span>30&deg;<i class="fa-solid fa-wind"></i></span>
          </a>
        </li>
        <li>
          <a>
            춘천
            <span>31&deg;<i class="fa-solid fa-wind"></i></span>
          </a>
        </li>
      </ul>
   </section>
     <!-- 지역별 날씨 끝 -->

  <section class="current-weather region-weather-content">
    <!-- 지역 -->
    <h3 class="city-title">Busan, Korea</h3>   

    <!-- 날씨 아이콘 -->
    <img src="../../src/images/sun-cloud.png" />
 
 
    <ul class="current-weather-list">
      <!-- 습도 -->
      <li><i class="fa-solid fa-droplet"></i>65&#37;</li>
      <!-- 최대기온 -->
      <li><i class="fa-solid fa-temperature-arrow-up"></i>32&deg;</li>
      <!-- 최저기온 -->
      <li><i class="fa-solid fa-temperature-arrow-down"></i>29&deg;</li>
    </ul>
  </section>
     

    

 </div>

</div>

