<footer class="BottomTab" id="bottom-tab">
  <a class="TabItem" href="/">
    <i class="fas fa-home"></i>
    <span class="TabItemLabel">Home</span>
  </a>
  <a class="TabItem" href="/pages/weather.html">
    <i class="fa-solid fa-cloud"></i>
    <span class="TabItemLabel">Weather</span>
  </a>
  <!-- <a class="TabItem" href="/pages/tasks.html">

    <i class="fa-solid fa-cloud"></i>
    <span class="TabItemLabel">Weather</span>
  </a> -->

  <a class="TabItem" href="/pages/timer.html">
    <i class="fa-regular fa-clock"></i>
    <span class="TabItemLabel">Timer</span>
  </a>
  <a class="TabItem" href="/pages/movies.html">
    <i class="fa-solid fa-clapperboard"></i>
    <span class="TabItemLabel">Movies</span>
  </a>
  <a class="TabItem" href="/pages/todo.html">
    <i class="fa-solid fa-list"></i>
    <span class="TabItemLabel">Todo</span>
  </a>
</footer>
